p{
    background-color: #18C1DC;
    margin: 20px;
    width: 500px;
    padding:5px;
    font-size: 60px;
    height: 200px;
    color: #8B8181;
    border-style: solid;
    border-color: #0E9F0E;
    border-width: 5px;
}