*{
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  background: yellow;
  height: 800px;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.item {
  background: purple;
  width: 100px;
  height: 100px;
  list-style-type: none;
  margin-left: 20px;
}