.container {
  display: flex;
  
}
.green {
  background: green;
  height: 200px;
  width: 25%;
}
.yellow {
  background: yellow;
  height: 200px;
  width: 50%;
}
.purple {
  background: purple;
  height: 200px;
  width: 25%;
}