.header{
    background-color: #B02AFF;
    height: 50px;
    line-height: 50px;
    position: fixed;
    width: 100%;
}

body{
    font-size: 0;
}
.content,.footer{
    margin: 10px  auto;
    width: 80%;
    
}
.content{
    margin-top: 60px;
}
a {
    display: inline-block;
    background-color: #2AEAFF;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    height: 20px;
    width: 52px;
    text-align: center;
    line-height: 19px;
}
.main{
    background-color: #FFD62A;
    height: 300px;
    width: 50%;
    margin: 5px;
}
.sidebar{
    background-color: #51D400;
    height: 300px;
    width: 40%;
    margin: 5px;
}
.item{
    float: left;
}
.content::after{
    content: "";
    display: block;
    clear: both;
}
.footer{
    background-color: #CCCCCC;
    height: 50px;

}